h1{
  font-family: arial;
}
#doctor_von_cuddles{
  border: solid 3px red;
}
#doctor_MFQ{
  border: solid 3px green;
}
#doctor_salmonella_ella{
  border: solid 3px blue;
}
.bearbox{
  float: left;
  padding: 10px 10px 10px 10px;
  border: 10px solid black;
  margin: 10px 10px 10px 10px;
}
p{
  text-align: center;
}
